body {
  margin: 0;
/*  background-image: url("https://images.wallpaperscraft.com/image/dog_booth_art_minimalism_93338_1920x1080.jpg");*/
    background-image: url(../img/dooglerIcons-v2.png);
  font-family: sans-serif;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  align-content: center;
}

#mainPage {
  margin: 0;
/*  background-image: url("https://images.wallpaperscraft.com/image/dog_booth_art_minimalism_93338_1920x1080.jpg");*/
    background-image: url(../img/dooglerLogo_v2.png);
  font-family: sans-serif;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  align-content: center;
}

p{
    color:black;
    font-family: sans-serif;
}

nav {
/*  background-color: rgb(100, 149, 237);*/
    background: url(../img/dooglerLogo-01.jpg)
  font-size: 18pt;
  padding: 10px;
  color: black;
}

nav a {
  color: black;
  margin-right: 10px;
}
h1{
    color: black;
    font-family: sans-serif;
    text-align: center;
    font-size: 70px;
}

h2 {
  margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f1ae8a;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #f17224;
}

input[type=submit] {
  background-color: #9abfb6;
  font-weight: bold;
  height: 50px;
  width: 100px;
  font-size: 14pt;
  border-radius: 7px;
  color:black;
    align-content: center;
    
}

input[type=text]{
    width:180px;
	height:20px;
	border-radius:10px;
/*
	float:right;
	margin-left:2px;
    margin-right: 250px;
*/
  position: relative;
    border: 2px solid;
    border-color: darkgray;
    background-color: lightgray;

}
input[type=text].mapInput{
    width:180px;
	height:20px;
	border-radius:10px;
	float:right;
	margin-left:2px;
    margin-right: 250px;
  position: relative;
    border: 2px solid;
    border-color: darkgray;
    background-color: lightgray;

}
label{
position:relative;
width:300px;
border:2px dotted black;
margin:20px;
padding:5px;
font-size:20px;
    font-weight: 200;
}


#map{
    border-radius: 25px;
}
#content {
  max-width: 600px;
align-content: center;
    align-items: center;
  margin-left: auto;
  margin-right: auto;
padding-left: 100px;
}
#entryInfo{
    text-align: left;
}

#message-input {
  height: 100px;
  width: 99%;
  border-radius: 10px;
}
#submitButton{
    border-radius: 20px;
    color: white;
    background-color: black;
    font-size: 15px;
    box-sizing: content-box;
    border: 0px solid;
    margin-top: 20px;
    margin-left: 215px;
}

.message-header {
  border-bottom: thick solid white;
  background-image: white;
  font-family: sans-serif;
}

.usernameFormat{
    font-weight: bold;
    color: #9abfb6;
}

.message-body {
  font: 12pt serif;
}
.message-div{
    border: thick solid white;
}

.panel {
  background-color: black;
  margin-top: 20px;
  border-radius: 7px;
}

.centered{
  text-align: center;
}

.padded {
  padding: 10px;
}

.rounded {
  border: thick solid black;
  background-color: white;
  overflow: hidden;
}

.hidden {
  display: none;
}
