body {
  margin: 0;
  background: black;
  font-family: monospace;
  color: lawngreen;
  padding-left: 20px;
  padding-right: 20px;
}

nav {
  background-color: linear-gradient(to left, white, #ffd3b5);
  font-size: 18pt;
  padding: 10px;
}

nav a {
  color: lawngreen;
  margin-right: 10px;
}

h2 {
  margin: 0;
}

input[type=submit] {
  background-color: #ffd3b5;
  height: 50px;
  width: 100px;
  font-size: 14pt;
}

#content {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}


#message-input {
  height: 100px;
  width: 99%;
}

.message-header {
  border-bottom: thin solid black;
  background-image: linear-gradient(to left, white , #ffd3b5);
}

.message-body {
  font: 12pt cursive;
}

.panel {
  background-color: white;
  margin-top: 20px;
}

.centered{
  text-align: center;
}

.padded {
  padding: 10px;
}

.rounded {
  border: thin solid black;
  border-radius: 5px;
  overflow: hidden;
}

.hidden {
  display: none;
}